header {
    background-image: url(./IMAGE/pexelsphoto213621.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .logo {
    text-align: center;
    margin: -120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -5%);
    justify-content: right;
  }
  
  .centered-text {
    text-align: center;
    font-size: 6rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .h1 {
    font-size: 100px;
    color: white;
  }
  
  .h4 {
    font-size: 30px;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0 0;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 10px;
    }
    .align-center{
        text-align: center;
        font-size: 40px;
       
    }
    .text1{
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
    }
.container{
    background-color: #dfcbab;
    text-align: center;
    margin-top: -35px;
    height: 1170px;
}
.col{
    height: 100px;
}
.soda{
    width: 400px;
    margin-right: 700px;
    height: 700px;
    margin-top: 50px;
}
.bloc{
    height: 100px;
}
   .P1{
    text-align: center;
    padding: 20px;
    margin-left: 500px;
    margin-top: -10px;
   } 
   .col1{
    height: 100px;
   }
    .soda1{
     width: 550px;
    height: 350px;
    margin: 200px; 
    margin-left: 700px;
    }
.col2{
    height: 100px;
}
.soda2{
    width: 500px;
    height: 560px;
    flex: 1;
    margin: 554px;
    margin-left: -450px;
 }
 .u-align-center{
    text-align: center;
    font-size: 30px;
 }
 .text{
    color: #9999A6;
 }
 .text2{
    text-align: center;
        font-size: 15px;
        line-height: 1.6;
 }
 .section{
    margin: 550px;
 }
.col3{
    height: 100px;
    margin: 100px;
}
.soda3{
    width: 500px;
    height: 560px;
    position: absolute;
    bottom: -500px;
    top: 1865px;
    right: 8px;
}
.my-buton{
    background-color: #dfcbab;
    width: 200px;
    height: 50px;

}
.container3{
    background-image: url(./IMAGE/pexelsphoto324028.jpg);
    height: 100vh;
    background-size: cover;
    margin-top: -300px;
    background-position: 40px;
    position: relative;
    height: 800px;
}
.align-right{
    position: absolute;
    color: #fff;
    font-size: 4rem;
    bottom: -50px;
    top: 180px;
    margin: 80px;
}
.P2{
    position: absolute;
    bottom: 220px;
    margin: 80px;
    color: #fff;
    font-size: 1.5rem;
}
.but{
    background-color: #dfcbab;
    color: #000;
    font-size: 20px;
    bottom: 200px;
    position: absolute;
    margin-left: -600px;
    width: 200px;
    height: 50px;
}
.centre{
    background-color: #dfcbab;
    text-align: center;
    height: 850px;
    position: relative;
    margin-top: 100px;
}
.paragraphe{
position: absolute; 
top: 70px; 
font-size: 1.3rem;
}
.soda5{
    width: 700px;
    height: 400px;
    position: absolute;
    top: 300px;
    margin-left: -18px;
}
.soda4{
    width: 450px;
    height: 550px;
    position: absolute;
    bottom: 50px;
    margin: 180px;
    right: 750px;
}
.paragraphe1{
    position: absolute;
    display: block;
    font-size: 1.3rem;
    left: 40px;
    top: 650px;
}
.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color:#fff;
    position: absolute;
    top: 850px;
    width: 100%;
    height: 70%;
  }
  .partie1{
    min-height: 750px;
    background-position: center;
    background-image: url(./IMAGE/chocolatedessertbrowniescake.jpg);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    background-size:cover;
}
.mod{
    
    position: relative;
    margin: 200px;
    font-size: 1rem;
    margin-top: 80px;
    text-align: center;
    
    

}
.bn{
    background-color: #dfcbab;
    background-size: 50px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 700px;
    margin-left: -80px;
}
  .partie2{
    background-color:#fff;
    min-height: 750px;

    
  }
  .u-align-center{
    text-align: center;
    margin-left: -50px;
    font-size: 2rem;
  }
  .partie3{
    min-height: 750px;
    background-position:right;
    background-image: url(./IMAGE/pexelsphoto973238.jpg);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    background-size: cover;
}

    

  
  
  
